{$GAME_DOMAIN} {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
    }
    reverse_proxy server:8000 {
        header_up X-Game-Client-IP {remote_host}
    }
}
